@import "./_colors";
@import "./_fonts";
@import "./_mixins";

body {
    display: flex;
}

.square {
  flex-wrap: wrap;
}

.box__body {
    background-color: map-get($colors, purple);
    width: 350px;
    height: 350px;
    margin: 100px;
    animation: rotate 10s linear 2s infinite;
  }
  
  @keyframes rotate {
    from {transform: rotate(0deg);}
    to {transform: rotate(180deg);}
  }


  @media (orientation: landscape) {
    body {
      flex-direction: row;
    }
  }
  
  @media (orientation: portrait) {
    body {
      flex-direction: column;
    }
  }

  @media (prefers-reduced-motion) {
      .box__body {
          animation: none;
      }
  }

  @media (prefers-color-scheme: dark) {
      .box__body {
          background-color: darken(map-get($colors, purple), 5%);
      }
      body {
          background-color: map-get($colors, black);
      }
  } 

  @media (prefers-color-scheme: light) {
      .box__body {
          background-color: map-get($colors, purple);
      }
  }


  
.box2__body {
  background-color: rgb(255, 85, 227);
  height: 200px;
  width: 200px;
  margin: 100px;
  animation: resizing 3s linear infinite;
}

  @keyframes resizing {
    0% {transform:scaleX(1);}
    50% {transform: scaleX(0);}
    100% {transform: scaleX(1);}
  }

  @media (orientation: landscape) {
    body {
      flex-direction: row;
    }
  }
  
  @media (orientation: portrait) {
    body {
      flex-direction: column;
    }
  }

  @media (prefers-reduced-motion) {
    .box2__body {
        animation: none;
    }
}

@media (prefers-color-scheme: dark) {
    .box2__body {
        background-color: darken(rgb(255, 85, 227), 20%);
    }
    body {
        background-color: rgb(20, 20, 20)
    }
}

@media (prefers-color-scheme: light) {
  .box2__body {
    background-color: rgb(255, 85, 227);
  }
  
}

.box3__body {
  width: 200px;
  height: 200px;
  margin: 100px;
  background-color:orange;
  animation:breathe 5s infinite alternate;
}

  @keyframes breathe {
    from {
    transform:scale(0);
    }
    to {
      transform:scale(1.5);
    }
  }

  @media (prefers-color-scheme:dark) { 
    .box3__body {
      background-color:darkblue;
    }
  }

  @media (prefers-color-scheme:light) {
    .box3__body {
      background-color: rgb(121, 121, 58);
    }
  }

  @media (orientation:landscape) {
    .box3__body {
      flex-direction: row;
    }
  }

  @media (orientation:portrait) {
    .box3__body {
      flex-direction: column;
      background-color: green;
    }
  }

  @media (prefers-reduced-motion) {
    .box3__body {
      animation:none;
      background-color:rgb(117, 68, 76);
    }
  }